.about-container {
  background-color: #FFFFFF;
  height: 100vh;
}

.about-wrapper {
  margin-left: 292px;
  margin-right: 292px;
  margin-bottom: 130px;
}

.about-title {
  text-align: left;
  font: normal bold 34px/100px Rubik;
  letter-spacing: -0.68px;
  color: #3D3D3D;
  opacity: 1;
}

.about-text {
  //margin-top: 78px;
  text-align: left;
  font: normal 300 20px/36px Rubik;
  letter-spacing: 0.4px;
  color: #3D3D3D;
  opacity: 1;
}
